<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite"  > 
<!-- suite name="Suite Name" --> 

            <test name="Homepagetestcase" allow-return-values="true">
                     <classes>
                       
                             <class name ="com.Appypie.testCases.HomePageTestCases" />
                             
                     </classes>
             </test>

</suite>
